header {
  display: inline-block;
  text-align: center;
}
header {
  display: block;
  width: 100%;
  margin: 5rem auto;
  text-align: center;
}

.light-yellow {
  width: 100%;
  font-size: 15px;
  background-color: #fffbf1;
  border-top: 1px solid #ffd977;
  color: #117777;
}

.feat {
  color: #b5460f;
}
.double-text {
  color: #117777;
  text-decoration-line: #117777;
  /*perchè non riesco a modificare il colore della linea della sottolineatura di collegamento ipertestuale*/
}
line {
  color: #117777;
}

.feat-block p a {
}
.bullets li {
  color: #117777;
  text-align: left;
}
main {
  display: block;
  width: 40vw;
  margin: 5rem auto;
  text-align: center;
}
.img-focaccia {
  text-align: center;
}
.list-list {
  text-align: left;
}
