@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header main footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: inline-block;
  margin: 2 rem;
  width: 100%;
  text-align: center;
}
.logo-img {
  width: 150px;
}
.light-yellow {
  width: 100%;
  font-size: 15px;
  background-color: #fffbf1;
  border-top: 1px solid #ffd977;
  color: #117777;
  height: 25px;
}
.img-space {
  width: 600px;
  height: 420px;
  text-align: left;
  margin: 0 0 0 0;
}
.lafocaccia {
  text-align: left;
  width: 600px;
  border-radius: 10px;
}
.caption {
  text-align: center;
  opacity: 80%;
}
.feat-block {
  text-align: left;
  border-left: 2px solid #ffc175;
  padding-left: 0.8em;
  margin: auto;
}
.feat {
  color: #b5460f;
  margin: auto;
}
.double-text {
  color: #117777;
  text-decoration-line: #117777;
  margin: 0;
  /*why that damn little underline still annoying keeping a blue color*/
}
.line-one {
  color: #117777;
  background: #117777;
  border: 0;
  height: 1px;
}
.line-two {
  color: #117777;
  background: #117777;
  border: 0;
  height: 1px;
}

.main {
  display: block;
  width: 600px;
  margin: 5rem auto;
  text-align: center;
  margin-block: 20px;
}

.list-list {
  text-align: left;
}
li {
  padding: 10px;
}

.little-simply {
  color: #117777;
}
